* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: center;
    justify-content: center;
    background: linear-gradient(to left, #000000, #DC143C);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro {
    margin: 90px;
    color: #FFD700;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-style: italic;
}

#counter-display {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    border: 4px black solid;
    border-radius: 30px;
    width: 7em;
    height: 120px;
    margin: 30px 80px 90px 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(201, 76, 76, 0.3);
    border: 4px black solid; 
    border-radius: 20px;
    position: absolute;
    margin-top: 50em;
    padding-bottom: 80px;
}


button {
    border-radius: 15px;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 10px 3px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
}

.increment-Button,
.decrement-Button {
    width: 2em;
    height: 90px;
    font-size: 40px;
}

.Reset {
    height: 40px;
    width: 80px;
    font-size: 20px;
}

button:hover {
    background-color: yellow;
    transition: 0.3s;
}

